body{
  background: #BAB8B9;
  background-size: auto;
  color: whitesmoke;
  text-align: center;
}

.navbar-inverse{
	background: #121F25;
}

.navbar-inverse .navbar-nav>li>a {
    color: #BAB8B9;
    font-size: 20px;
}
.navbar-inverse .navbar-brand {
    color: #BAB8B9;
    font-size: 25px;
}
.party{
  height:100px;
}
.container{
  margin-top: 50px;
}

.carousel-inner .item>img{
  margin: 0 auto;
  width: 80%;
  height: 500px;
}

h1{
  width: auto;
  height: auto;
  font-size: 40px;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
  color: #121F25;
    /*margin: 0 0 64px 0;*/
  }

.tmi{
  /*margin-top: 25px;*/
  color: #DB3118;
  font-weight: 700;
  text-transform: capitalize;
  /*background: rgba(206, 215, 209, 0.3);*/
  font-family: "Rock Salt", cursive;
      /*margin: 0 0 64px 0;*/
}
section{
  margin-top: 25px;
}
.markers{
  /*background: #121F25;*/
  background: rgba(148, 147, 148, .5);

  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-top: 150px;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 20px
}

.markers p{
  color: #121F25;
}
/*.newSec {
display: block;
margin: 0 auto;
/*margin-top: 100px;*/
/*width: 800px;
height: auto;*/
/*color: #AEB5C8;
font-size: 20px;
}*/

/*.menuSec{
  width: 800px;
}*/

/*img{
  margin: 0 auto;
  display: block;
  left: 170px;
}*/
.footer{
  display: block;
  height: 125px;
  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 100px;
  background: #121F25;
  padding-top: 25px;
  padding-bottom: 10px;
}
.footer-box{
  position: relative;
  height: 60%;
  width: 50%;
  margin: 0 auto;
  text-align: center;

}

.info{
  width: 50%;
  float:left;
  vertical-align: middle;
  color: #BAB8B9;
}

ul{
  list-style: none;

  }
ul a{
  color: #BAB8B9;
}

/*h2 a{
  display: block;
  margin: 0 auto;
  color: #BAB8B9;
  text-align: center;
}*/
