body{
  background-image: url("images/coal.jpg");
  background-size: cover;
  color: whitesmoke;
  text-align: center;
}

.navbar-inverse{
	background: #121F25;
}

.navbar-inverse .navbar-nav>li>a {
    color: #BAB8B9;
    font-size: 20px;
}
.navbar-inverse .navbar-brand {
    color: #BAB8B9;
    font-size: 25px;
}

.newSec {
display: block;
margin: 0 auto;
margin-top: 75px;
width: 800px;
height: auto;
color: #AEB5C8;
font-size: 20px;
}

img{
  margin: 0 auto;
  display: block;
  /*margin-top: 75px;*/
  left: 170px;
  height: 880px;
}
